$brand_corp: #242d38;
$brand_blue: #304c70;
$grayscale_lightest: #ffffff;
$grayscale_f0f0f1: #f0f0f1;
$grayscale_dddef: #dddedf;
$grayscale_49494f: #49494f;
$grayscale_ECECF1: #ECECF1;
$highlight_E4871B: #e4871b;
$font-family: "Roboto", sans-serif;
