@import "../base/globals";

.posts {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 20px;
  position: relative;
}

.post {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  overflow: hidden;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.5rem;
    background-color: $grayscale_ECECF1;

    .post-feed {
      font-size: 0.875rem;
      font-weight: 700;
      color: $brand_blue;
      display: flex;
      align-items: center;

      .post-feed-icon {
        margin-right: 0.5rem;
        color: $brand_blue;
      }

      .post-feed-category {
        margin-right: 0.5rem;
        font-weight: bold;
      }

      .post-subfeed-category {
        color: $brand_blue_light;
      }
    }

    .post-timestamp {
      color: $grayscale_49494f;
      font-size: 0.875rem;
      display: flex;
      align-items: center;

      svg {
        color: $grayscale_8C8D91;
        margin-right: 0.5rem;
      }
    }
  }

  &-body {
    padding: 1.5rem;

    .post-author {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      .post-author-image {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right: 1rem;
      }

      .post-author-info {
        display: flex;
        flex-direction: column;
        
        .post-author-company {
          color: $grayscale_A3A3A8;
          font-weight: 700;
          font-size: 16px;
          margin-right: 5px;
          line-height: 20px;
        }

        .post-title {
          font-size: 22.4px;
          font-weight: 700;
          margin-top: 0.5rem;
          color: $grayscale_49494f;
        }
      }
    }

    .post-content {
      color: $grayscale_49494f;
      line-height: 22.4px;
      font-size: 19.2px;
      font-weight: 300;

      span {
        color: $brand_blue;
        font-weight: 700;
        text-decoration: none;
      }

      a {
        color: $brand_blue;
        text-decoration: none;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: darken($brand_blue, 10%);
          text-decoration: underline;
        }
      }

      img {
        display: flex;
        max-width: 100%;
        border-radius: 8px;
        margin-top: 1rem;
      }
    }

    .post-image {
      margin-top: 1rem;
      img {
        width: 100%;
        border-radius: 8px;
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0.75rem 1.5rem;
    
    .post-action {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0.5rem;
      border-radius: 4px;
      display: flex;
      align-items: center;
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

      svg {
        margin-right: 0.5rem;
        transition: color 0.2s ease-in-out;
      }

      &.like.active, &.like:hover {
        color: red;
        svg {
          color: red;
        }
      }

      &.save.active, &.save:hover {
        color: $brand_blue;
        svg {
          color: $brand_blue;
        }
      }

      &.more-actions {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: background-color 0.2s ease-in-out;
        color: $grayscale_8C8D91;

        &:hover {
          background-color: $grayscale_ECECF1;
        }
      }
    }
  }
}
